.info{
    /*width: 25%;*/
    margin-left: 45px;
    text-align: left;
}


.info h3{
    color: whitesmoke;
}

.info p{
    color: whitesmoke;
    /*overflow-wrap: break-word;*/
    word-wrap: break-word; /*ya üstteki ya da bu paragraf yapiyor */
    font-size: large;
}

