

body {
  margin: 0;
  padding: 0;
  background-color: rgb(246, 209, 246);
  
}


.App{
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 400px;
  /* height: 850px; */
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px, inset rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, inset rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: plum;
}